# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging

# Unit test / coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data/*

# Environments
.env

# mypy
.mypy_cache/

# ruff
.ruff_cache/
