__pycache__/

dist/

.pytest_cache/

docs/_build/

.vscode/

.ipynb_checkpoints/

.env

.ruff_cache/

.coverage
coverage.xml

.DS_Store

.idea/

.venv/

experiments/wandb
experiments/output
experiments/artifacts