# local package
-e .

# core dependencies
poetry
cookiecutter
openai
tiktoken
torch
numpy
langchain
langchain-experimental
faiss-cpu # For CPU Installation
chromadb
git+https://github.com/camel-ai/camel.git@v0.1.0

# youtube dependencies
# youtube-dl
# pytube
# pydub
# librosa
# pafy
# yt_dlp

# pip install --upgrade --force-reinstall "git+https://github.com/ytdl-org/youtube-dl.git"
# youtube-transcript-api
# opencv-python

# dev
click
Sphinx
coverage
flake8
python-dotenv

# backwards compatibility
pathlib2
