# local package
-e .

# core dependencies
poetry
cookiecutter
openai
tiktoken
torch
numpy
langchain
langchain-experimental
faiss-cpu # For CPU Installation
chromadb
git+https://github.com/camel-ai/camel.git@v0.1.0

# dev
Sphinx
python-dotenv
